{% extends 'base.html' %}

{% block content %}

<h1>Wykres zmiennych {{target_variable_name}} oraz {{var}}</h1>
<div class="row">
    <div class='col'>
        <p>Wykres punktowy</p>
        <img src="data:image/png;base64,{{graph}}" alt="Wykres punktowy" class="img-fluid">
    </div>
    <div class='col'>
        <p>Wykres pudełkowy</p>
        <img src="data:image/png;base64,{{boxplot}}" alt="Wykres pudełkowy" class="img-fluid">
    </div>
</div>
<p>
    <a class="btn btn-primary btn-lg btn-bloxk" href="{% url 'dataParameters' %}">Powrót</a>
</p>

{% endblock %}