{% extends 'base.html' %}

{%block content %}
<!-- Page Content -->
{% if user.is_authenticated %}
	<div class="row">
		<div class="col-lg-12">

				<h1>Wyniki estymacji: </h1>
				<br>
				<div class="resultContainer">
					<h2>Regresja liniowa z wyborem zmiennych metodą foreward selection</h2>
					{{wynik_foreward|safe}}
				</div>
				<div class="resultContainer">
					<h2>Regresja liniowa z wyborem zmiennych metodą backward selection</h2>
					{{wynik_backward|safe}}
				</div>
				<div class="resultContainer">
					<h2>Regresja liniowa z wyborem 3 zmiennych o największych p-value</h2>
					{{wynik_top|safe}}
				</div>
				<div class="resultContainer">
					<h2>Regresja liniowa ze wszystkimi dostępnymi zmiennymi</h2>
					{{wynik_all|safe}}
			</div>
		</div>
	</div>
{% else %}
	{% include "notLogged.html" %}
{% endif %}


{% endblock %}